@import "./base.css";

#app {
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  height: 500px;
  width: 400px;
}

.widget {
  position: relative;
  padding: 10px;
  overflow: auto;
}

.widget_header {
  display: flex;
  justify-content: space-between;
}

.widget_header h3 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}



.header svg:hover {
  cursor: pointer;
}